In [1]:
pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 387 kB/s eta 0:00:01
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1795 sha256=27bc7a791b2a3634a82e766b8204450a4aae2fdb4341126a51fbc56c4c0b8d47
  Stored in directory: /home/madhumitha/.cache/pip/wheels/9a/a0/6f/b4ceab4614797b65af7a296172bf4bdc106702d7f18beafa57
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=c88744caa7d873864288961ef50f94eb85285b76a7395228117507a1de2ecfcf
  Stored in directory: /home/madhumitha/.cache/pip/wheels/43/94/01/2470e037a87c7f4fe93e4a110ee8c01b495d53db5de40b216b
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31665 sha256=8d645720d106aaeef203f6dde99442a80e6c07269a84d435f01ecbd06cdc890a
  Stored in directory: /home/madhumitha/.cache/pip/wheels/23/fc/3e/c02e21af9692d533cae0374d54eb3502764cedb8a3edaf6e5c
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('exp2.db')
cur = conn.cursor()
conn = sqlite3.connect('test.db')
print("Opened database successfully");

Opened database successfully

In [7]:
conn.execute('''CREATE TABLE COMPANY
(ID INT PRIMARY KEY NOT NULL,
NAME            TEXT NOT NULL,
AGE             INT  NOT NULL,
ADDRESS         CHAR(50),
SALARY          REAL);''')
print("Table Created succesfully");

Table Created succesfully

In [10]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)  \
             VALUES (1,'paul',32,'California',20000.00)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
             VALUES (2,'Allen',25,'Texas',15000.00)");
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)  \
             VALUES (3,'Smith',28,'LosAngeles',65000.00)");
conn.commit()
print("Records inserted successfully");

Records inserted successfully

In [11]:
for row in conn.execute('select * from COMPANY'):
    print(row)

(1, 'paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Smith', 28, 'LosAngeles', 65000.0)

In [12]:
conn.commit()

In [13]:
conn.close()

In [14]:
conn = sqlite3.connect('exp2.db')
cur = conn.cursor()
conn = sqlite3.connect('test.db')
print("Opened database successfully");

Opened database successfully

In [15]:
records = [(4, 'Glen', 80,'Washington',166666.00),
           (5, 'Elliot', 19,'Vegas',90000.00),
           (6, 'Bob', 57,'Texas',800000.00)]

conn.executemany('INSERT INTO COMPANY VALUES(?,?,?,?,?);',records);

In [16]:
for row in conn.execute('select * from COMPANY'):
    print(row)

(1, 'paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Smith', 28, 'LosAngeles', 65000.0)
(4, 'Glen', 80, 'Washington', 166666.0)
(5, 'Elliot', 19, 'Vegas', 90000.0)
(6, 'Bob', 57, 'Texas', 800000.0)